# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [37]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [38]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,rikitea,PF,-23.1203,-134.9692,73.72,79,100,7.36,light rain
1,1,ushuaia,AR,-54.8000,-68.3000,38.86,93,100,23.02,light rain
2,2,mataura,NZ,-46.1927,168.8643,47.48,98,54,3.11,broken clouds
3,3,airai,TL,-8.9266,125.4092,61.86,93,97,0.74,overcast clouds
4,4,albany,US,42.6001,-73.9662,58.64,48,0,1.79,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [42]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [43]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,rikitea,PF,-23.1203,-134.9692,73.72,79,100,7.36,light rain
5,5,ternate,ID,0.8000,127.4000,81.52,78,91,1.61,overcast clouds
6,6,kahului,US,20.8947,-156.4700,78.84,75,20,6.91,few clouds
8,8,avarua,CK,-21.2078,-159.7750,73.45,73,75,6.91,broken clouds
17,17,hilo,US,19.7297,-155.0900,75.61,84,0,5.99,clear sky

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [44]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,rikitea,PF,-23.1203,-134.9692,73.72,79,100,7.36,light rain
5,5,ternate,ID,0.8000,127.4000,81.52,78,91,1.61,overcast clouds
6,6,kahului,US,20.8947,-156.4700,78.84,75,20,6.91,few clouds
8,8,avarua,CK,-21.2078,-159.7750,73.45,73,75,6.91,broken clouds
17,17,hilo,US,19.7297,-155.0900,75.61,84,0,5.99,clear sky

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [45]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy() 

# Display sample data
hotel_df.head(10)

           City Country  Max Temp   Current Description      Lat       Lng
0       rikitea      PF     73.72            light rain -23.1203 -134.9692
5       ternate      ID     81.52       overcast clouds   0.8000  127.4000
6       kahului      US     78.84            few clouds  20.8947 -156.4700
8        avarua      CK     73.45         broken clouds -21.2078 -159.7750
17         hilo      US     75.61             clear sky  19.7297 -155.0900
20   porto novo      BJ     81.90         broken clouds   6.4965    2.6036
22  farafangana      MG     71.10  heavy intensity rain -22.8167   47.8333
23       turayf      SA     72.21             clear sky  31.6725   38.6637
26         fare      PF     78.60            light rain -16.7000 -151.0167
30      winneba      GH     81.57         broken clouds   5.3511   -0.6231

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [46]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,73.72,light rain,-23.1203,-134.9692,
5,ternate,ID,81.52,overcast clouds,0.8000,127.4000,
6,kahului,US,78.84,few clouds,20.8947,-156.4700,
8,avarua,CK,73.45,broken clouds,-21.2078,-159.7750,
17,hilo,US,75.61,clear sky,19.7297,-155.0900,
20,porto novo,BJ,81.90,broken clouds,6.4965,2.6036,
22,farafangana,MG,71.10,heavy intensity rain,-22.8167,47.8333,
23,turayf,SA,72.21,clear sky,31.6725,38.6637,
26,fare,PF,78.60,light rain,-16.7000,-151.0167,
30,winneba,GH,81.57,broken clouds,5.3511,-0.6231,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [47]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [48]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [49]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,73.72,light rain,-23.1203,-134.9692,People ThankYou
5,ternate,ID,81.52,overcast clouds,0.8000,127.4000,Sahid Bela Ternate Hotel
6,kahului,US,78.84,few clouds,20.8947,-156.4700,Maui Seaside Hotel
8,avarua,CK,73.45,broken clouds,-21.2078,-159.7750,Paradise Inn
17,hilo,US,75.61,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
20,porto novo,BJ,81.90,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
22,farafangana,MG,71.10,heavy intensity rain,-22.8167,47.8333,Miarina
23,turayf,SA,72.21,clear sky,31.6725,38.6637,Turaif
26,fare,PF,78.60,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
30,winneba,GH,81.57,broken clouds,5.3511,-0.6231,Windy Lodge & Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [50]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,rikitea,PF,73.72,light rain,-23.1203,-134.9692,People ThankYou
5,ternate,ID,81.52,overcast clouds,0.8000,127.4000,Sahid Bela Ternate Hotel
6,kahului,US,78.84,few clouds,20.8947,-156.4700,Maui Seaside Hotel
8,avarua,CK,73.45,broken clouds,-21.2078,-159.7750,Paradise Inn
17,hilo,US,75.61,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
20,porto novo,BJ,81.90,broken clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
22,farafangana,MG,71.10,heavy intensity rain,-22.8167,47.8333,Miarina
23,turayf,SA,72.21,clear sky,31.6725,38.6637,Turaif
26,fare,PF,78.60,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
30,winneba,GH,81.57,broken clouds,5.3511,-0.6231,Windy Lodge & Beach Resort

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [51]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [52]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [53]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [54]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 73.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sahid Bela Ternate Hotel</dd>\n<dt>City</dt><dd>ternate</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.52 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>few clouds and 78.84 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 73.45 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.61 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tour Eiffel Hotel Benin</dd>\n<dt>City</dt><dd>porto novo</dd>\n<dt>Country</dt><dd>BJ</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.9 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Miarina</dd>\n<dt>City</dt><dd>farafangana</dd>\n<dt>Country</dt><dd>MG</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 71.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Turaif</dd>\n<dt>City</dt><dd>turayf</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maitai Lapita Village Huahine</dd>\n<dt>City</dt><dd>fare</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>light rain and 78.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Windy Lodge & Beach Resort</dd>\n<dt>City</dt><dd>winneba</dd>\n<dt>Country</dt><dd>GH</dd>\n<dt>Current Weather</dt><dd>broken clouds and 81.57 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [55]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -23.1203 -134.9692
5    0.8000  127.4000
6   20.8947 -156.4700
8  -21.2078 -159.7750
17  19.7297 -155.0900
20   6.4965    2.6036
22 -22.8167   47.8333
23  31.6725   38.6637
26 -16.7000 -151.0167
30   5.3511   -0.6231

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [60]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)  
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))